// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.about-container {
  width: 80%;
  margin: 0 9%;
  height: 71vh;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 0.94fr 1.65fr;
  grid-gap: 16px;
  background-color: rgba(0,0,0,0.1);
  padding: 12px 16px 12px 16px;
  border-radius: 24px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.professional {
  height: 64vh;
  margin: 3% auto 0px;
  overflow: hidden;
  min-width: 95%;
}
.personal {
  height: 67vh;
  background-color: transparent;
  align-items: center;
  border-radius: 24px;
  opacity: 0.9;
}
.cv {margin: auto;
  img {height: auto;}
}
.personal-1 { height: 45%; max-width: 400px; border-radius: 8px; background-color: transparent;}
.personal-2 { height: 45%; max-width: 400px; border-radius: 8px; background-color: transparent;}
.personal-3 { height: 45%; max-width: 400px; border-radius: 8px; background-color: transparent;}
.personal-4 { height: 45%; max-width: 400px; border-radius: 8px; background-color: transparent;}

.links {
  background-color: #f6f6f6;
  height: 11vh;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
@media (max-width: 992px) {
.about-container {
    grid-template-columns: 0.7fr 1.3fr;
    .card-about { min-height: 18vh;}
  }
}
@media(max-width: 768px) {
  .about-container {
    display: contents;
    justify-content: space-around;}
  .professional {
    overflow: scroll;
    height: auto;}
  .cv { position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }
}

  .personal {
    margin: 0%;
  }
  .card-about { min-height: 15vh;}

.flip-card-image {
  background-size: contain;
  background-position: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.cv {
  position: relative;
  width: 100%;
}
.flip-card-back {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  overflow: scroll;
  p {font-size: 14px;
    padding: 5%;
  }
}
.cv-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  transition: .3s ease;
  backface-visibility: hidden;
  border-radius: 8px;
}
.middle {
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.cv-image:hover {
  opacity: 0.7;
}
.button:hover .cv-image {
  opacity: 0.7;
}
.cv:hover .middle {
  opacity: 1;
}
.button {
  font-weight: bolder;
  padding: 12px 36px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  color: black;
  background-color: #f6f6f6;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.button:hover {
  background-color: white;
  transition: ease .3s;
  text-decoration: none;
}
.visit-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  padding: 5%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
