.contact-card {
  // display: flex;
  // align-items: center;
  text-align: center;
  justify-content: space-around;
  height: 15vh;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  font-size: 22px;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  text-decoration: none;
  max-width: 500px;
  // margin: 32px;
  // left: 50%;
  // -webkit-transform: translateX(-50%);
  // transform: translateX(-50%);
}
.container-contact {
  // align-items: center;
  // margin: auto;
  // position: relative;
}
