.contact-card {
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20%;
  border-radius: 12px;
  font-size: 22px;
  background-color: #f6f6f6;
  font-family: 'Quicksand', sans-serif;
  width: 20vh;
  height: 20vh;
}
.contact-card:hover {
  cursor: pointer;
}
.container-contact {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  // width: 60%;
  position: absolute;
  left: 38%;
  right: 38%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
