// Specific CSS for your home-page
body {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://images.unsplash.com/photo-1604076947037-d909e2f10fca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80);
  background-size: cover;
}
.container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  background-color: rgba(0,0,0,0.1);
  padding: 12px 16px 12px 16px;
  border-radius: 24px;
  height: auto;
  margin: 3vh 8%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.image {
  align-items: center;
  background-repeat: no-repeat;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: hidden;
  min-width: 30%;
  max-height: 33vh;
  max-width: 350px;
  -webkit-filter: drop-shadow(5px 0px 4px #444);
  filter: drop-shadow(5px 4px 4px #444);}
.card-photo {
  height: 38.5vh;
  margin: auto;
  position: relative;
}
@media (max-width: 992px) {
  .container {grid-template-columns: 1fr 1fr;}
  .card-about { min-height: 18vh;}
  .image {margin: auto}
}
@media(max-width: 768px) {
  .container {display: contents;}
  .image { height: 29vh; margin: auto;}
  .card-photo {height: 35vh;}
  .card-about { min-height: 15vh;}
}

@media(max-width: 500px) {
  .container {display: contents;}
  .card-photo {height: 30vh;}
  .card-about, .card-links, .card-skills {border-radius: 0px;}
  .image { height: 29vh; margin: auto;}
  .card-about { min-height: 15vh;}
  .card-contact {margin-bottom: 2vh; border-radius: 0px;}
  .card-links {height: 5vh;}
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

h5 { width: auto; padding-right: 3%;}
.underline {
  background: linear-gradient(0deg, #0000 5%, #EED4AF 5%, #EED4AF 40%, #0000 40%);
  font-family: 'Quicksand', sans-serif;
}
