.coming {
  display: block;
  margin-left: 30%;
  margin-right: 25%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-filter: drop-shadow(4px 7px 7px #444);
  filter: drop-shadow(4px 7px 7px #444);
}
