<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <%= link_to root_path, class: "navbar-brand" do %>
      <img src="https://res.cloudinary.com/k2x4b-523p/image/upload/v1627604264/logo_ywxijp.png" alt="">
      <% end %>
    </div>
  </div>

  <div class="nav-btn">
    <label for="nav-check">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </label>
  </div>

  <div class="nav-links">
    <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
    <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
    <a class="nav-link js-scroll-trigger" href="#about">About Me</a>
    <a class="nav-link js-scroll-trigger" href="#contact">Contact Me</a>
  </div>
</div>
