<div class="about-container col">

<%# removed CV section for now %>
  <%# <div class="professional row d-flex w-100 justify-content-around">
    <div class="cv">
      <img src="https://res.cloudinary.com/k2x4b-523p/image/upload/v1644009648/Neil_Goodridge_CV_mw8cet.png" alt="Neil Goodridge CV" class="cv-image" style="width:100%;max-width:500px">
      <div class="middle">
        <a class="button" href="Neil Goodridge CV.pdf" download>Download</a>
        <a class="button" target="_blank"  href="Neil Goodridge CV.pdf">Open</a>
      </div>
    </div>
  </div> %>
  <div class="personal row">
    <div class="personal-1 flip-card col-6">
      <div class="flip-card-inner">
        <div class="flip-card-front w-100" style="background-image: url()" class="image-mj flip-card-image">
          <a href="#about">Hover</a>
        </div>
        <div class="flip-card-back">
          <p>Here's me dressed as Michael Jackson's iconic Thriller for a night out. You can find me as Sanka from Cool Runnings, the Joker, a Pharoah, as Ryan Gosling lip-syncing to La-La Land hits, a Harlem Globetrotter and more. <br><br> I like going out with people and I clearly enjoy fancy dress, but I'm just as happy at a relaxed barbecue or sat watching the F1!  </p>
        </div>
      </div>
    </div>
    <div class="personal-2 flip-card col-6 d-flex justify-content-space-around">
      <div class="flip-card-inner">
        <div class="flip-card-front w-100" style="background-image: url()" class="image-bike flip-card-image">
          <a href="#about">To</a>
        </div>
        <div class="flip-card-back">
          <p>Getting out on my bike and going for a ride, whether it's a short 25km 'around the block' or something longer, I love it. <br><br> I've taken part in a number of charity day-rides ranging from 80 to 180km, and spent a few days in 2018 riding from London to Paris. My next big one will be riding from London to Strasbourg in a week!</p>
        </div>
      </div>
    </div>
    <div class="personal-3 flip-card col-6 d-flex justify-content-space-around">
      <div class="flip-card-inner">
        <div class="flip-card-front w-100" style="background-image: url()" class="image-travel flip-card-image">
          <a href="#about">Learn</a>
        </div>
        <div class="flip-card-back">
          <p>Who doesn't enjoy getting out and seeing the world? Whether I'm going to other parts of the UK, Europe, the Caribbean, Africa or Asia, I'm all for it. <br> Places on my wishlist:
            <ul class="visit-list">
              <li>The Galápagos Islands</li>
              <li>The Great Rift Valley</li>
              <li>Patagonia</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="personal-4 flip-card col-6 d-flex justify-content-space-around">
      <div class="flip-card-inner">
        <div class="flip-card-front w-100" style="background-image: url()" class="image-guitar flip-card-image">
          <a href="#about">More</a>
        </div>
        <div class="flip-card-back">
          <p>Lockdown gave me the gift of music. Having played guitar as a child and given up due to playing 'boring music', this fire was reignited in 2020. <br><br> I love playing the music I want and that others can enjoy, whether that's Marvin Gaye, Justin Timberlake, Green Day or Ed Sheeran. </p>
        </div>
      </div>
    </div>
  </div>
</div>
