<div class="about-container">
  <div class="professional">
    <img src="Neil Goodridge CV.svg" alt="Neil Goodridge CV" class="cv">
    <div class="links">
    </div>
  </div>
  <div class="personal">
    <h2>personal stuff here</h2>
    <div class="personal-1">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Sunt cum molestiae at corporis, minus modi dolor molestias doloremque commodi labore nihil accusamus nesciunt ab dignissimos. Tempore molestiae sapiente at odit.</p>
    </div>
    <div class="personal-2">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Sunt cum molestiae at corporis, minus modi dolor molestias doloremque commodi labore nihil accusamus nesciunt ab dignissimos. Tempore molestiae sapiente at odit.</p>
    </div>
    <div class="personal-3">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Sunt cum molestiae at corporis, minus modi dolor molestias doloremque commodi labore nihil accusamus nesciunt ab dignissimos. Tempore molestiae sapiente at odit.</p>
    </div>
    <div class="personal-4">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Sunt cum molestiae at corporis, minus modi dolor molestias doloremque commodi labore nihil accusamus nesciunt ab dignissimos. Tempore molestiae sapiente at odit.</p>
    </div>
  </div>
</div>
