<div class="about-container">
  <div class="professional row d-flex justify-content-around">
    <div class="cv">
      <img src="Neil Goodridge CV.svg" alt="Neil Goodridge CV" class="cv-image" style="width:100%;max-width:500px">
      <div class="middle">
        <a class="button" href="Neil Goodridge CV.pdf">Download</a>
      </div>
    </div>
  </div>
  <div class="personal row d-flex">
    <div class="personal-1 flip-card col-6">
      <div class="flip-card-inner">
        <div class="flip-card-front w-100" style="background-image: url(MJ.png)" class="image-mj flip-card-image">
        </div>
        <div class="flip-card-back">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Sunt cum molestiae at corporis, minus modi dolor molestias doloremque commodi labore nihil accusamus nesciunt ab dignissimos. Tempore molestiae sapiente at odit.</p>
        </div>
      </div>
    </div>
    <div class="personal-2 flip-card w-100 col-6 d-flex justify-content-space-around">
      <div class="flip-card-inner">
        <div class="flip-card-front w-100" style="background-image: url(Bike.jpg)" class="image-bike flip-card-image">
        </div>
        <div class="flip-card-back">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Sunt cum molestiae at corporis, minus modi dolor molestias doloremque commodi labore nihil accusamus nesciunt ab dignissimos. Tempore molestiae sapiente at odit.</p>
        </div>
      </div>
    </div>
    <div class="personal-3 flip-card w-100 col-6 d-flex justify-content-space-around">
      <div class="flip-card-inner">
        <div class="flip-card-front w-100" style="background-image: url(Travel.JPG)" class="image-travel flip-card-image">
        </div>
        <div class="flip-card-back">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Sunt cum molestiae at corporis, minus modi dolor molestias doloremque commodi labore nihil accusamus nesciunt ab dignissimos. Tempore molestiae sapiente at odit.</p>
        </div>
      </div>
    </div>
    <div class="personal-4 flip-card w-100 col-6 d-flex justify-content-space-around">
      <div class="flip-card-inner">
        <div class="flip-card-front w-100" style="background-image: url(guitar.png)" class="image-guitar flip-card-image">
        </div>
        <div class="flip-card-back">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Sunt cum molestiae at corporis, minus modi dolor molestias doloremque commodi labore nihil accusamus nesciunt ab dignissimos. Tempore molestiae sapiente at odit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
