<div class="row container-contact justify-content-center m-3">
  <%= link_to ('https://wa.me/447500041449'), target: "_blank" do %>
  <div class="col contact-card wobble-vertical-on-hover" style="background-image: url(https://res.cloudinary.com/k2x4b-523p/image/upload/v1627391802/orluc4nh6bk3anf8wdmq.png)"></div>
  <% end %>
  <%= mail_to ('neilrgoodridge@gmail.com'), target: "_blank" do %>
  <div class="col contact-card wobble-vertical-on-hover" style="background-image: url(https://res.cloudinary.com/k2x4b-523p/image/upload/c_scale,w_878/v1627389976/s17fcu9y4ja80q6usg44.png)"></div>
  <% end %>
  <%= link_to ('https://app.slack.com/client/T02NE0241/D01J716TS2Z'), target: "_blank" do %>
  <div class="col contact-card wobble-vertical-on-hover" style="background-image: url(https://res.cloudinary.com/k2x4b-523p/image/upload/v1627387889/sz7jw3nn654ooud9qq2m.png)"></div>
  <% end %>
  <%= link_to ('tel:07809489899'), target: "_blank" do %>
  <div class="col contact-card contact-card-phone wobble-vertical-on-hover" style="background-image: url(https://res.cloudinary.com/k2x4b-523p/image/upload/v1627495338/phone-removebg-preview_t4osph.png)"></div>
  <% end %>
</div>
