<div class="col container-contact justify-content-center">
  <div class="contact-card row justify-content-center m-3 p-3">
    Phone/WhatsApp
  </div>
  <div class="contact-card row justify-content-center m-3 p-3">
    Email
  </div>
  <div class="contact-card row justify-content-center m-3 p-3">
    Slack
  </div>
  <div class="contact-card row justify-content-center m-3 p-3">
    LinkedIn
  </div>
</div>
