<div class="col container-contact justify-content-center m-3">
  <div class="contact-card justify-content-center wobble-vertical-on-hover" style="background-image: url(https://res.cloudinary.com/k2x4b-523p/image/upload/v1627391802/orluc4nh6bk3anf8wdmq.png)"></div>
  <div class="contact-card justify-content-center wobble-vertical-on-hover" style="background-image: url(https://res.cloudinary.com/k2x4b-523p/image/upload/c_scale,w_878/v1627389976/s17fcu9y4ja80q6usg44.png)"></div>
  <div class="contact-card justify-content-center wobble-vertical-on-hover" style="background-image: url(https://res.cloudinary.com/k2x4b-523p/image/upload/v1627387889/sz7jw3nn654ooud9qq2m.png)"></div>
  <div class="contact-card justify-content-center wobble-vertical-on-hover" style="background-image: url(https://res.cloudinary.com/k2x4b-523p/image/upload/e_bgremoval/v1627390223/eeurlv8kjbrnkmm4wvqm.png)"></div>
</div>
