<div class="container col-10">
  <div class="about-me col-12">
    <div class="col card card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://media-exp1.licdn.com/dms/image/C4D03AQFpb_cORVJp5A/profile-displayphoto-shrink_400_400/0/1625872375592?e=1631750400&v=beta&t=1698tlm0koB_x3eNktA9ZrHFi9Gbca3tdSYkPOXFw20)">
    </div>
    <div class="col card card-about">
      <p>Hi, I'm Neil. A full stack Web Developer from London. I'm a committed learner having spent 6 months of evening and weekends studying and retraining alongside my full time job at the highly regarded Le Wagon bootcamp in London. I'm looking forward to transferring the skills I have learned in my current and previous roles and pairing them with those I've learned over the last few months in an engineering role. </p>
    </div>
    <div class="col card card-links ">
      <a href="https://github.com/neilgoodridge"><i class="fa fab fa-github"></i></a>
      <a href="https://linkedin.com/in/neilgoodridge"><i class="fa fab fa-linkedin"></i></a>
    </div>
  </div>
  <div class="cards-container col-12">
    <div class="cards-holder">
      <div class="cards-header">
      </div>
      <div class="row cards">
        <div class="col card-skills card-projects col-12" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRADEhGeC7_Vm-u78foHvfIyKYgzaih321kXw&usqp=CAU)">
          Projects
        </div>
        <div class="col card-skills card-languages col-12" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQFJk9FUXy23I0iJJoPKKb74u-5zTViOPlmCF1tKt2z6b6weZguhCrecWfgPQ_oDwQ1Kg&usqp=CAU)">
          Skills & Languages
        </div>
      </div>
    </div>
    <div class="cards-holder">
      <div class="cards-header">
      </div>
      <div class="row cards">
        <div class="col card-skills">
          About Me
        </div>
        <div class="col card-skills">
          Contact Me
        </div>
      </div>
    </div>
  </div>
</div>
