<div class="container col-10">
  <div class="about-me col">
    <div class="col card-photo w-100 col-12">
      <img src="https://res.cloudinary.com/k2x4b-523p/image/asset/v1627324569/me-3a3d48ed49772c7244ab2f11c0ee3c2a.png" alt="" class="image">
    </div>
    <div class="col card card-about w-100 col-12">
     <h5>Hi, <span class="underline">I'm Neil.</span></h5> <p>A full stack web developer based in London. <br><br>
        Have a look around, see what projects I've worked on and what I've got coming up and learn a bit more about me. <br><br>
        I'm currently looking for a web development role in London or remote. If you see something that interests you, feel free to get in touch. <br>
      </p>
    </div>
    <div class="col card card-links">
      <a class="fab fa-github fa-2x" target="blank" href="https://github.com/neilgoodridge"></a>
      <a class="fab fa-linkedin-in fa-2x" target="blank" href="https://linkedin.com/in/neilgoodridge/"></a>
    </div>
  </div>
  <div class="cards-container col-12">
    <div class="cards-holder w-100 col-12">
      <div class="row cards">
        <%= link_to projects_path do %>
        <div class="col card-skills card-projects col-12 w-100" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/k2x4b-523p/image/asset/v1627324572/projects-b17c10a3a9cf4eb614d82b9a8712ce1a.webp)" class="home-image">
          Projects
        </div>
        <% end %>
        <%= link_to skills_path do %>
        <div class="col card-skills card-languages col-12" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/k2x4b-523p/image/asset/v1627324554/Skills-2cfb8c57fe89664ae6b1b7778781ea63.png)">
          Skills
        </div>
        <% end %>
        <%= link_to about_path do %>
        <div class="col card-skills" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/k2x4b-523p/image/asset/v1627324552/MJ-60e3872491449c0e81c1f51217655a11.png)">
          About Me
        </div>
        <% end %>
        <%= link_to contact_path do %>
        <div class="col card-skills card-contact" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/k2x4b-523p/image/asset/v1627324550/Contact-c6262b6808776524d7d968dc8f14cee3.jpg)">
          Contact Me
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
