
<div class="border-bottom bg-white w-100">
  <div class="d-flex justify-content-between align-items-center py-2 bg-white width 100%">
    <img src="" alt="" width="140px">
    <a href="#" class="btn btn-success">Home</a>
  </div>
</div>
<div class="container">
  <div class="about-me">
    <div class="col card about-me">
      <img src="" alt="">
    </div>
    <div class="col card card-photo">
      Intro
    </div>
    <div class="col card card-links">
      Links
    </div>
  </div>
  <div class="cards-container">
    <div class="cards-holder">
      <div class="cards-header">
      </div>
      <div class="row cards">
        <div class="col card-skills">
          Projects
        </div>
        <div class="col card-skills">
          Skills & Languages
        </div>
      </div>
    </div>
    <div class="cards-holder">
      <div class="cards-header">
      </div>
      <div class="row cards">
        <div class="col card-skills">
          About Me
        </div>
        <div class="col card-skills">
          Contact Me
        </div>
      </div>
    </div>
  </div>
</div>
