
<div class="border-bottom bg-white w-100">
  <div class="container d-flex justify-content-between align-items-center py-2 bg-white width 100%">
    <img src="" alt="" width="140px">
    <a href="#" class="btn btn-primary">Home</a>
  </div>
</div>
<div class="container">
  <div class="row cards">
    <div class="col card-about-me" id="about-me">
      <div class="about"><p>I'm a committed learner having spent 6 months of evening and weekends studying and retraining alongside my full time job at the highly regarded Le Wagon bootcamp in London. I'm looking forward to transferring the skills I have learned in my current and previous roles and pairing them with those I've learned over the last few months in an engineering role.</p></div>
      <div class="photo"></div>
      <div class="links"></div>
    </div>
    <div class="row cards-scrollable">
      <div class="scrollbox">
        <div class="col card">
          Projects
        </div>
        <div class="col card">
          Skills & Languages
        </div>
        <div class="col card">
          Photo
        </div>
        <div class="col card">
          About Me
        </div>
        <div class="col card">
          Contact Me
        </div>
      </div>
    </div>
  </div>
</div>
