<div class=" container-projects col">
  <div class="card-project">

    <img src="OA.png" class="project-image" />

  <div class="card-project-infos">
    <h2>The OA</h2>
    <p>An <strong>Online Activism</strong> platform built by a team of 4 over 9 days. <br> <br>Built using Ruby on Rails, this website gives people the chance to affect change on social issues they feel passionate about, while not being able to get on the streets and demonstrate. </p>
  </div>
</div>
<div class="card-project">

    <img src="Water-RnR.png" class="project-image" />

  <div class="card-project-infos">
    <h2>Water RnR</h2>
    <p>Forget AirBnB. <strong>Water RnR</strong> allows you to find a relaxing residential pool in your area for a much needed dip. <br><br> Hire outside someone elses pool, or set yourself up as a host and rent out your own for a given amount of time. Refreshing!</p>
  </div>
  </div>
  <div class="card-project">
    <img src="avik.jpg" class="project-image" />
  <div class="card-project-infos">
    <h2>Avik's Dioramas</h2>
    <p>Move over WWE! <strong>Avik's Dioramas</strong> bring to life the action figures of past and present. <br><br> Incorporating all 4 CRUD actions, this site allows the host to upload, edit and delete weekly scenes based on WWE events. </p>
  </div>
</div>

</div>
