<div id="wrapper">
  <section id="generic-tabs">
    <ul id="tabs">
      <li>
        <a title="Home" href="#first-tab"> The OA</a>
      </li>
      <li>
        <a title="Photos" href="#second-tab"> Water RnR</a>
      </li>
      <li>
        <a title="About" href="#third-tab"> Avik's Diorama</a>
      </li>
    </ul>
    <div id="first-tab" class="tab-content">
      <p><strong>Check out <a href="http://www.theoa.org" target="_blank">The OA</a> here! </strong></p>
      <iframe src="https://water-rnr.herokuapp.com" frameborder="0"></iframe>
    </div>
    <!-- <div id="second-tab" class="tab-content">
      <a href="https://www.flickr.com/photos/twitteroffice/15437700946" title="Twitter Boston by Twitter, on Flickr"><img src="" alt="iframe here?"></a>
    </div> -->
  </section>
</div>
