.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  margin: 16px 0px;
  text-align: center;
  text-decoration: none;
}
.cards-holder {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: transparent;
}
.cards-header {
  width: 100%;
  padding: 4vh;
  background-color: transparent;
  border-radius: 12px 12px 0 0;
}
.card {
  background-size: cover;
  background-position: center;
  background-color: #f6f6f6;
  margin-bottom: 16px;
  padding-top: 8px;
  border-radius: 8px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
  color: #023047;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  a { font-size: 18px;
    font-weight: light;
    text-shadow: none;
    text-align: center;
    max-height: 26vh;
    overflow: scroll;
    padding: 0 3vw;
    margin: 0;
  }
}
.card-about {
  height: 37.8vh;
  min-height: 100px;
  margin-bottom: 2vh;
  border-radius: 8px;
  border: #515151 2px solid;
  text-shadow: none;
  overflow: scroll;
  p {margin: 1em;}
}

.card-skills {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  min-height: 22vh;
  // box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: rgb(81, 81, 81) 2px solid;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  font-size: 26px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  text-shadow: 0 0 18px rgba(0,0,0,1);
  text-decoration: none;
  color : #fff;
}
.card-skills a {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card-skills:hover {
  border: 2px white solid;
  border-radius: 8px;
  cursor: pointer;
  transition: .2s;
  color: #fff;
}
#card-link, a:link, a:visited, a:hover, a:active, {
    text-decoration: none;
}
.about-me.cards-container {
  background-size: cover;
  background-position: center;
  background-color: white;
  margin: auto;
  padding: auto;
  margin-bottom: 2vh; // padding: 16px;
  max-height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  color: #023047;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}
@media (max-width: 992px) {
  .container { grid-template-columns: 1fr 1fr;
  // .card-about { height: 36.5vh;}
  }
}
@media(max-width: 768px) {
  .container { grid-template-columns: 1fr;}
  .image { height: 25vh; margin: auto;}
  .card-about { height: 36.5vh;}
}
@media only screen and (max-width: 500px) {
  .container { grid-template-columns: 1fr;}
  .card-photo {height: 30vh;}
  .image { height: 25vh;}
  .card-skills {border-radius: 0px; box-shadow: none; border-bottom: 6px solid #fff;}
  .card-about { min-height: 15vh;}
  .card-links {height: 6vh;}
  .cards {grid-gap: 0px;}
}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .card-about {height: 45.5vh;}
}
.card-photo { height: 25.8vh;
  .image {position: absolute;
    bottom: 0px;
    height: 33vh;}

}
.card-links a {
  color: black;
  opacity: 0.6;
  transition: ease .2s;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.card-links a:hover {
  opacity: 1;
  text-decoration: none;
}
.card-links {
  height: 6vh;
  border-radius: 8px;
  background: #F6F6F6;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  display: flex;
  border: #515151 2px solid;
  flex-direction: row;
  align-items: center;
}
