.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  margin: auto;
  text-align: center;
  text-decoration: none;
}
.cards-holder {
  width: 100%;
  height: auto;
  // border-radius: 8px;
  background-color: transparent;
}
.cards-header {
  width: 100%;
  padding: 4vh;
  background-color: transparent;
  // border-radius: 12px 12px 0 0;
}
.card {
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  // padding-top: 8px;
  // border-radius: 8px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 0;
  font-size: 18px;
  color: #023047;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
  a { font-size: 18px;
    font-weight: light;
    text-shadow: none;
    text-align: center;
    max-height: 26vh;
    overflow: scroll;
    // padding: 0 3vw;
    margin: 0;
  }
}
.card-about {
  min-height: 45vh;
  margin: 2vh 0;
  text-shadow: none;
  overflow: scroll;
  p {margin: 1em 1em;
    color: black;
    font-size: 24px;
    text-shadow: 0 0 12px white;}
    h4 {
        color: black;
        font-size: 26px;
        font-family: 'Quicksand', sans-serif;
        text-shadow: 0 0 12px white;}
        h3 {
            color: black;
            font-size: 36px;
            font-family: 'Quicksand', sans-serif;
            text-shadow: 0 0 12px white;
            margin: 2vh 0;}
}

.card-skills {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  height: 34vh;
  min-height: 10vh;
  // box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: $border;
  background-size: cover;
  background-position: center;
  // border-radius: 8px;


}

.card-skills a {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  width: 100%;
  height: 100%;
  font-size: 32px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: 0 0 18px rgba(0, 0, 0, 1);
}

.card-skills:hover {
  border: 2px #F6F6F6 solid;
  // border-radius: 8px;
  cursor: pointer;
  transition: .2s;
  color: #fff;
}
#card-link, a:link, a:visited, a:hover, a:active, {
    text-decoration: none;
}
.cards-container {
  background-size: contain;
  background-position: center;
  background-color: transparent;
  // margin: auto;
  // padding: auto;
  // margin-bottom: 2vh; // padding: 16px;
  max-height: 85vh;

}
  // width: auto;
  // border-radius: 8px;
  // box-shadow: 0 0 10px rgba(0,0,0,0.2);
  .about-me {
  align-items: center;
  border: $border;
  justify-content: space-between;
  font-size: 18px;
  // height: min-content;
  color: #023047;
  font-family: 'Quicksand', sans-serif;
  // font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.card-photo { height: 26vh;
  .image {position: absolute;
    top: 2vh;
    width: auto;
    height: 72vh;
  }
}
.card-links a {
  color: black;
  opacity: 0.6;
  transition: ease .1s;
  text-decoration: none;
  font-size: 26px;
  // padding: 0px 10px;
}
.card-links a:hover {
  opacity: 1;
  text-decoration: none;
}
.card-links {
  height: 6vh;
  display: flex;
    align-items: center;
    justify-content: space-around;
  border-radius: 0px;
  margin-top: 2vh;
  padding: 0px 2vw;
  color: rgba(0,0,0,0.3);
  display: flex;
  border: $border;
  flex-direction: row;
  align-items: center;
  background-size: cover;
  background-position: center;
}
