.navbar-brand img {
  min-width: 30px;
  height: 20px;
  background-color: transparent;
  opacity: 0.5;
  margin: 0vh 0 8% 0;
}
.navbar-brand img:hover {
  opacity: 0.8;
  transition: 0.2s ease;
}
.nav {
  min-height: 4vh;
  width: 100%;
  background-color: transparent;
  position: relative;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.1);
  font-family: 'Quicksand', sans-serif;
}
.nav > .nav-header {
  display: inline;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: black;
  padding: 0 1vw;
}
.nav > .nav-btn {
  display: none;
}
.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 16px;
  color: white;
  opacity: 1;
  height: 4vh;
}
.nav > .nav-links > a {
  display: inline-block;
  text-decoration: none;
  color: rgba(0,0,0,0.5);
  margin: -1% 0% 0% 0;
}
.nav > .nav-links > a:hover {
  background-color: white;
  height: 5vh;
  color: rgba(0,0,0,0.5);
  transition: ease 0.3s;
  border-radius: 8px 8px 0 0;
}
.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;}
  .nav > .nav-btn > label {
    display: inline-block;
    height: 5vh;
    opacity: 0.5;
    margin: 8% 2vw;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: inline-block;
    width: 25px;
    height: 10px;
  }
  .nav-links {
    position: absolute;
    display: block;
    width: 33vw;
    background: white;
    height: auto;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 4vh;
    right: 0px;
    border-radius: 0 0 0 12px;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    text-align: right;
    color: rgba(0,0,0,0.7);
    transition: all 0.3s ease-in;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    overflow-y: auto;
    height: auto;
  }
  .fa-bars {
    font-size: 25px;
  }
}

